/*Shortcut is ctrl + ? for comments*/

/* This is the start of my navbar */

*{
    margin:0;
    padding:0;
}


nav{
    height:60px;
    width:100%;
    background-color: #5270f1;
}

.logo{
    float:left;
}

img{
    float:left;
    margin:px;
}


nav ul{
    float:right;
}

nav ul li{
    display:inline-block;
    font-weight: bold;
    text-transform: uppercase;
    margin: 12px 10px 20px 20px;
    font-size: 30px;
}

nav ul li a{
color:rgb(0, 0, 0);
font-weight: bolder;
text-decoration: none;
text-transform: uppercase;
}

nav ul li a:hover{
    color:goldenrod
}

/*This is the end of nav*/
/*This is the start of my hero section*/

section{
    width:100%;
    height: 700px;
    background-image: url('/img/Picsart_22-06-22_18-22-59-529.JPG');
    background-size:contain;
    background-repeat: repeat;
    background-position: center;
}

div{
    width: 40%;
    height: 200px;
    background-color: white;
    border: 5px solid #000;
    position: absolute;
    top: 30%;
    right:30%;
    position: fixed;
}

.color-text{
    color:#000;
    text-align:center;
    font-weight: bold;
}

aside{
    float:right;
    position: absolute;
    top:75%;
    right:40%;
}

Footer{
    background-color: #5270f1;
    width: 100%;
    height:60px;
}